* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f1dabf;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  background-color: #92817a;
  color: #362417;
}

.logo {
  display: flex;
  flex: 1;
  padding-left: 1rem;
  align-items: center;
}

.logo img {
  margin-right: 0.5rem;
  width: 40px;
  height: 40px;
}

header nav {
  flex: 2;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: large;
  font-weight: 400;
  padding: 15px;
}

header nav ul li {
  padding: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: currentColor;
}

main {
  margin: 4rem;
}

main .menuSection {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

main .menuSection .menuItem {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 22%;
  margin: 2rem 4rem;
}

main .menuSection .menuitem img {
  width: 45px;
  height: 45px;
}

main .menuSection .menuItem p {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: 500;
}

main .menuSection .menuItem .likeSpan {
  display: flex;
  flex-direction: row-reverse;
}

main .menuSection .menuItem button {
  margin: 5px 7px;
  padding: 10px;
  font-size: 16px;
  background-color: #92817a;
  color: #362417;
  border: none;
  border-radius: 5px;
}

main .menuSection .menuItem button:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #92817a;
  color: #362417;
  height: 2.5rem;
  align-items: center;
}

footer span {
  padding-left: 1rem;
  font-weight: 400;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.432);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.active {
  visibility: visible;
  opacity: 1;
}

.popup {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 85%;
  background-color: #362417;
  color: white;
  border-radius: 1rem;
}

.popup::-webkit-scrollbar {
  width: 0.3rem;
}

.popup::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.popup::-webkit-scrollbar-thumb {
  background: #68462d;
  border-radius: 10px;
}

.fa-times-circle {
  color: #f1dabf;
  align-self: flex-end;
  margin: 0.8rem;
}

.popImage {
  width: 400px;
  height: auto;
  margin: 0.5rem auto 0.5rem auto;
  border-radius: 1rem;
}

.popTitle {
  color: white;
  text-align: center;
}

.characteristic {
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 350px;
  justify-content: space-between;
  margin: 0.5rem auto 0.5rem auto;
}

.comment {
  display: flex;
  gap: 1rem;
  margin: 0.5rem auto 0.5rem auto;
}

h3 {
  margin: 1rem 0 1rem 0;
}


.createComment {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  gap: 0.8rem;
  width: 400px;
}

.submit {
  width: 15%;
  padding: 0.5rem;
  align-self: flex-end;
}

.nameInput {
  padding: 0.3rem;
}

.commentInput {
  padding: 0.3rem;
}

.likeIcon {
  color: red;
}

@media (min-width: 768px) and (max-width: 1024px) {
  main .menuSection {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  main .menuSection .menuItem {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 40%;
    margin: 2rem 2rem;
  }
}

@media (max-width: 768px) {
  main .menuSection {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  main .menuSection .menuItem {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 90%;
    margin: 2rem 2rem;
  }
}
