* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f1dabf;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  background-color: #92817a;
  color: #362417;
}

.logo {
  display: flex;
  flex: 1;
  padding-left: 1rem;
  align-items: center;
}

.logo img {
  margin-right: 0.5rem;
  width: 40px;
  height: 40px;
}

header nav {
  flex: 2;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: large;
  font-weight: 400;
  padding: 15px;
}

header nav ul li {
  padding: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: currentColor;
}

main {
  margin: 4rem;
}

main .menuSection {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

main .menuSection .menuItem {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 22%;
  margin: 2rem 4rem;
}

main .menuSection .menuitem img {
  width: 45px;
  height: 45px;
}

main .menuSection .menuItem p {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: 500;
}

main .menuSection .menuItem button {
  margin: 5px 7px;
  padding: 10px;
  font-size: 16px;
  background-color: #92817a;
  color: #362417;
  border: none;
  border-radius: 5px;
}

main .menuSection .menuItem button:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #92817a;
  color: #362417;
  height: 2.5rem;
  align-items: center;
}

footer span {
  padding-left: 1rem;
  font-weight: 400;
}
